<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Authentification</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
<meta charset="utf-8">
<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">

</head>

<body class="background-body">

	</br>
	</br>
	</br>

	<div class="container text-center">
		<div class="row">
			<div class="card center-div">
				<div class="card">
					<div class="card-header">Authentification</div>
					<div class="card-body">
						<div class="container">
							<div>

								<form th:action="@{/login}" method="post">
									<div>
										<label> login: </label> <input type="text" name="username" />
									</div>
									<div>
										<label> Password: </label> <input type="password"
											name="password" />
									</div>
									<div>
										<input type="submit" value="Login" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>