<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	layout:decorator="TemplateDashboardEnterprise"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Dashboard - Produits</title>
</head>
<body>

	<div layout:fragment="content">
		<div class=container-fluid>
			<div class="row col-xl-12">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom col-xl-12">
					<div class="col-xl-10">
						<h2 class="h2">Liste de Produits</h2>
					</div>
					<div class="col-xl-2">
						<a href="/displayAddProduitsEntreprise"
							class="btn btn-primary text-left">Ajouter Produit</a>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<table class="table">
						<tr>
							<th>Produit</th>
							<th>NOM</th>
							<th>Description</th>
							<th>Pays d'origine</th>
							<th>prixPoids</th>
							<th>prix Unitaire</th>
							<th>Action</th>
						</tr>
						<tr th:each="p: ${Produits}">
							<!--   <td><img src="/assets/img/photoProduit.jpg"  alt=""></td>-->
							<td><img width="286" height="180"
								th:src="@{'data:image/jpeg;base64,'+${p.image}}" /></td>
							<td class="element" th:text="${p.nom}"></td>
							<td th:text="${p.description}"></td>
							<td th:text="${p.pays_origine}"></td>
							<td th:text="${p.prixPoids}"></td>
							<td th:text="${p.prixUnitaire}"></td>
							<td><a href="/displayAddProduitsEntreprise"
								class="btn btn-primary text-center mb-2">Modifier</a></br> <a
								href="/displayAddProduitsEntreprise"
								class="btn btn-danger text-center mb-2">Suprimer</a></br> <a
								href="/displayAddProduitsEntreprise"
								class="btn btn-success text-center mb-2">Activé</a></td>
						</tr>
					</table>
				</div>
			</div>
</body>
</html>